<template>
    <div id="app">
        <Dashboard v-if="user" :favorites="favorites"></Dashboard>
        <Access v-else></Access>
    </div>
</template>

<script>
    import Dashboard from './DashboardComponent.vue'
    import Access from './UserAccessComponent.vue'

    export default {
        name: "app",
        components: {
            Dashboard, Access
        },

        data() {
            return {
                user: false,
                favorites: [],
            }
        },

        mounted() {
            this.verifyLogin()
        },

        methods: {
            isLogged(status) {
                this.user = status
            },

            verifyLogin() {
                fetch('/access/check')
                    .then(response => response.json())
                    .then(data => {
						this.isLogged(data.isLogged)
                        this.favorites = data.favorites
					})
                .catch(function(error) {
                    console.log('Upsss! Something weird happend: ' + error.message);
                });
            }
        }
    }
</script>

<style scoped>
#app ul {
    background-color: #3d7a7a; 
}
#app li a{
    color: #fff;
}
#app li a:hover{
    color: #ffc51b;
}
</style>
