<template>
    <div id="artList" class="container">
        <h1 class="text-center my-5">Your Articles</h1>

        <div class="logout text-right">
            <b-link href="#" @click="logout">Logout</b-link>
        </div>

        <div>
            <b-container fluid>
                <b-row>
                    <b-col lg="12" class="my-4">
                        <b-form-group
                        label=" "
                        label-for="filter-input"
                        label-cols-sm="3"
                        label-size="sm"
                        class="mb-0"
                        >
                        <b-input-group>
                            <b-form-input
                            id="filter-input"
                            v-model="filter"
                            type="search"
                            placeholder="Type to Search"
                            ></b-form-input>

                            <b-input-group-append>
                            <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
                            </b-input-group-append>
                        </b-input-group>
                        </b-form-group>
                    </b-col>
                </b-row>

                <b-table 
                    striped 
                    hover 
                    borderless
                    :items="items" 
                    :fields="fields"
                    :current-page="currentPage"
                    :per-page="perPage"
                    :filter="filter"
                    @filtered="onFiltered"
                >
                    <template #cell(art_fav)="data">
                        <b-button 
                            v-if="!data.item.isFav" 
                            size="sm" 
                            @click="addFav(data.item.id)" 
                            class="mr-1"
                            variant="outline-primary"
                        >
                            Add to Favorites
                        </b-button>
                        <b-button 
                            v-else 
                            size="sm" 
                            @click="removeFav(data.item.id)" 
                            class="mr-1"
                            variant="outline-danger"
                        >
                            Remove Favorite
                        </b-button>
                    </template>
                </b-table>

                <b-row>
                    <b-col sm="4" md="4" class="my-2">
                        <b-form-group
                        label="Per page"
                        label-for="per-page-select"
                        label-cols-sm="6"
                        label-cols-md="4"
                        label-cols-lg="3"
                        label-align-sm="right"
                        label-size="sm"
                        class="mb-0"
                        >
                        <b-form-select
                            id="per-page-select"
                            v-model="perPage"
                            :options="pageOptions"
                            size="sm"
                        ></b-form-select>
                        </b-form-group>
                    </b-col>

                    <b-col sm="5" md="5" class="my-2">
                        <b-pagination
                        v-model="currentPage"
                        :total-rows="totalRows"
                        :per-page="perPage"
                        align="fill"
                        size="sm"
                        class="my-0"
                        ></b-pagination>
                    </b-col>
                </b-row>
            </b-container>
        </div>
    </div>
</template>

<script>
    const { DateTime } = require("luxon");

    export default {
        name: "Dashboard",
        props: ['favorites'],

        data() {
            return {
                fields: [
                {
                    key: 'name',
                    label: 'Article Name',
                    sortable: true
                },
                {
                    key: 'price',
                    label: 'Price',
                    sortable: true
                },
                {
                    key: 'datetime',
                    label: 'Creation Date',
                    sortable: false,
                },
                {
                    key: 'art_fav',
                    label: 'Favorites',
                    sortable: false,
                }
                ],
                items: [],
                totalRows: 1,
                currentPage: 1,
                perPage: 10,
                pageOptions: [10, 25, 50, { value: 100, text: "Show a lot" }],
                filter: null,
            }
        },

        mounted() {
            this.getArticles()
        },

        methods: {
            getArticles() {
                fetch('/articles/get')
                    .then(response => response.json())
                    .then(data => this.processData(data))
                .catch(function(error) {
                    console.log('Upsss! Something weird happend:' + error.message);
                });
            },

            processData(data) {
                data.forEach(article => {
                    article.datetime = DateTime.fromSQL(article.datetime.date).toFormat('y/MM/dd HH:mm')
                    article.isFav = false // TODO comparar con user
                    article.price = article.price.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ".") + " €";
                });

                this.items = data
                this.totalRows = data.length
            },

            addFav(articleID) {
                fetch('/favorites/add/' + articleID)
                    .then(response => response.json())
                    .then(data => this.processData(data))
                .catch(function(error) {
                    console.log('Upsss! Something weird happend:' + error.message);
                });
            },

            removeFav(articleID) {
                fetch('/favorites/delete/' + articleID)
                    .then(response => response.json())
                    .then(data => this.processData(data))
                .catch(function(error) {
                    console.log('Upsss! Something weird happend:' + error.message);
                });
            },

            onFiltered(filteredItems) {
                this.totalRows = filteredItems.length
                this.currentPage = 1
            },

            logout() {
				fetch('/access/logout')
                    .then(response => response.json())
                    .then(data => {
						this.$parent.isLogged(data.isLogged)
					})
                .catch(function(error) {
                    console.log('Upsss! Something weird happend: ' + error.message);
                });
            },
        }
    }
</script>

<style>
</style>
