<template>
	<div class="container my-5">
		<div class="row my-5">
			<h1 class="text-center px-5">Access to your account or Sign up!</h1>
		</div>
		<div class="row my-5 py-5">
			<h2>Log in</h2>
			<b-form @submit="loginSubmit">
				<b-form-group
					id="login-group-1"
					label="Username:"
					label-for="login-input-1"
				>
					<b-form-input
						id="login-input-1"
						v-model="login.username"
						type="text"
						placeholder="Enter your username"
						required
					></b-form-input>
				</b-form-group>

				<b-form-group 
					id="login-group-2" 
					label="Password:" 
					label-for="login-input-2"
				>
					<b-form-input
						id="login-input-2"
						type="password"
						v-model="login.password"
						placeholder="Enter your password"
						required
					></b-form-input>
				</b-form-group>

				<b-button type="submit" variant="secondary">Log in</b-button>
			</b-form>
		</div>

		<div class="row my-5 py-5">
			<h2>Sign up</h2>
			<b-form @submit="signupSubmit">
				<b-form-group
					id="signup-group-1"
					label="New username:"
					label-for="signup-input-1"
				>
					<b-form-input
						id="signup-input-1"
						v-model="signup.username"
						type="text"
						placeholder="Enter the new username"
						required
					></b-form-input>
				</b-form-group>

				<b-form-group 
					id="signup-group-2" 
					label="New password:" 
					label-for="signup-input-2"
				>
					<b-form-input
						id="signup-input-2"
						type="password"
						v-model="signup.password"
						placeholder="Enter the new password"
						required
					></b-form-input>
				</b-form-group>

				<b-button type="submit" variant="primary">Sign up</b-button>
			</b-form>
		</div>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				login: {
					username: '',
					password: '',
				},
				signup: {
					username: '',
					password: '',
				},
			}
		},

		methods: {
			loginSubmit(event) {
				event.preventDefault()

				fetch('/access/login', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json'
					},
					body: JSON.stringify(this.login)
				})
                    .then(response => response.json())
                    .then(data => {
						this.$parent.isLogged(data.success)
					})
                .catch(function(error) {
                    console.log('Upsss! Something weird happend: ' + error.message);
                });
			},

			signupSubmit(event) {
				event.preventDefault()

				fetch('/access/signup', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json'
					},
					body: JSON.stringify(this.signup)
				})
                    .then(response => response.json())
                    .then(data => {
						this.$parent.isLogged(data.success)
					})
                .catch(function(error) {
                    console.log('Upsss! Something weird happend: ' + error.message);
                });
			},
		}
	}
</script>
